<!--
  Generated template for the AddVaccinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-row>
      <ion-col class="padding-0">
        <ion-item class="header-background">
          <ion-row class="">
            <ion-col col-1 class="close-sec padding-0 margin-auto" (click)="closeCurrentSection()">
              <ion-icon name="md-arrow-back" class="nav-back-arrow-icon"></ion-icon>
            </ion-col>
            <ion-col col-11 class="header-title margin-top-bottom-5 padding-0" >
              <p class="para-margin-0 header-title para-overflow-hidden">Add Your Baby</p>
            </ion-col>
            <!-- <ion-col col-3 text-right class="close-sec margin-auto" (click)="deleteAllReminder()">
              <p class="margin-right-15 color-white" *ngIf="VaccineReminders.length > 0 && isAvailable">CLEAR</p>
            </ion-col> -->
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  
  <ion-content class="content_bg">
    <!-- <ion-row class="gender_wrapper">
      <ion-col col-12 class="padding-0">
          <div class="gender_div">
            <ion-row>
                <ion-col col-6 class="text-center-cls" (click)="getStyle('male')" [ngClass]="{'activate': childDets.sex=='male'}">
                    <p style="margin:0px">Male</p>
                    <img src="assets/imgs/calculator/male.png" class="gendercls">
                  </ion-col>
                  <ion-col col-6 class="text-center-cls" (click)="getStyle('female')" [ngClass]="{'activate': childDets.sex=='female'}">
                      <p style="margin:0px">Female</p>
                      <img src="assets/imgs/calculator/female.png" class="gendercls">
                  </ion-col>      
            </ion-row>
          </div>
      </ion-col>
    </ion-row> -->
    
    <!-- <form #childDets="ngForm" novalidate (ngSubmit)="addChildDets(childDets)" class="login-form"> -->
        <ion-row class="mother_baby margin-top-bottom-15" >
            <ion-col col-12 text-center>
              <img class="" src="assets/img/vaccination/mother_baby.svg">
                <!-- <p class="vaccine_des">Add baby details for managing Vaccines</p>
                <button class="submit-btn" ion-button full (click)="addBabyVaccination()">
                 <ion-icon name="add"></ion-icon> 
              </button> -->
            </ion-col>
          </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="vaccine-input">
          <ion-label class="vaccine-input-label">
            <img class="form-image custom-img" src="assets/img/register/name_icon.svg" />
          </ion-label>
          <ion-input type="text" placeholder="Name" [(ngModel)]="childDets.Name" name="name"  #name="ngModel" spellcheck="false"
          autocapitalize="off" required></ion-input>
        </ion-item>
        <ion-item class="vaccine-input">
            <ion-label class="vaccine-input-label">
              <img class="form-image dropdown-icon-margin" *ngIf="childDets.Sex == 100" src="assets/img/register/male.svg" />
              <img class="form-image dropdown-icon-margin" *ngIf="childDets.Sex == 101" src="assets/img/register/female.svg" />
              <img class="form-image dropdown-icon-margin" *ngIf="childDets.Sex == 102" src="assets/img/register/male.svg" /> Gender
            </ion-label>
            <ion-select interface="popover" [(ngModel)]="childDets.Sex" name="gender" style="padding: 10px 0px 0px 0px !important; border-right: 0px;">
                <ion-option *ngFor="let gender of genderList" value="{{gender.Value}}">{{gender.DisplayText}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="vaccine-input">
          <ion-label class="vaccine-input-label">
            <img class="form-image custom-img" src="assets/img/register/dob_icon.svg" />DOB 
          </ion-label>
          <ion-datetime name="dob" placeholder="" [(ngModel)]="childDets.DateOfBirth" displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" name="dob" min="1900-12-31" max="{{maxDate}}" [(ngModel)]="childDets.DateOfBirth"></ion-datetime>
        </ion-item>
        <ion-item class="vaccine-input">
          <ion-label class="vaccine-input-label">
              <img class="form-image dropdown-icon-margin" src="assets/img/register/female_icon.svg" /> Relation
          </ion-label>
          <ion-select interface="popover" [(ngModel)]="childDets.Relation" name="relation" style="padding: 10px 0px 0px 0px !important; border-right: 0px;">
              <ion-option *ngFor="let relation of relations"  value="{{relation.Value}}">{{relation.DisplayText}}</ion-option>
          </ion-select>
       </ion-item>
        <!-- <ion-item class="vaccine-input">
          <ion-label class="vaccine-input-label">
              <img class="form-image custom-img" src="assets/img/doctorProfile/doc.svg" />
          </ion-label>
          <ion-input type="text" [(ngModel)]="childDets.Doctor_Name" placeholder="Doctor Name" spellcheck="false"
          autocapitalize="off" required></ion-input>
        </ion-item> -->
        <!-- <ion-row class="vaccine-input number-email-field contact-background">
          <ion-col col-2 class="country_code">
            <ion-select interface="popover" [(ngModel)]="childDets.CountryCode" class="country-code" name="country_code" >
              <ion-option *ngFor="let item of activeCountry" value="{{item.DemographyCode}}">+{{item.DemographyCode}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-10 class="country_code_input">
            <ion-item class="contact-number-field default-add">
              <ion-input [(ngModel)]="childDets.Doctor_Contact" id="numberInput" name="mobile_number" type="tel" placeholder="Mobile Number" #contactNum="ngModel"
               spellcheck="false" autocapitalize="off" maxlength="10" (keypress)="onlyNumber($event)" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row> -->
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-15">
      <ion-col col-12>
          <button class="vaccine-submit-btton" ion-button type="submit" 
        (click)="addChildDets()"  full>Submit</button>
      </ion-col>
    </ion-row>
  <!-- </form> -->
  </ion-content>
  
  <ion-fab left bottom (click)="gotoDashboard()">
      <button ion-fab color="light"><ion-icon name="home"></ion-icon></button>
  </ion-fab>
  