.select-icon {
    position: relative;
    width: 15px !important;
    height: 19px;
}

.number-email-field{
        height: 4.9rem !important;
}
.select-text{
   overflow: visible !important;
}
.popover-content{
        width: 110px !important;
            margin-top: 20px !important;
}
    .back-image{
    //   background-repeat: no-repeat !important;
    // width: 100% !important;
    // background-position: center !important;
    // background-size: 100% !important;
    // background: url('../assets/img/login/login_bg.svg');
    background-repeat: no-repeat !important;
    width: 100% !important;
    background-position: center !important;
    background-size: cover !important;
    background: url(../assets/img/login/login_bg.svg);
    height: 100%;
}

.mobile-icon-size{
   color:var(--icon-color);
}
.mail-icon{
    padding: 9px 0px 0px 10px !important;
}
.forgot-password-text{
    text-align: right;
    color:var(--black-light-color);
}
.reset-password .toolbar-background{
    background: #ffffff !important;
}