page-bodyfat {
    .background_image{
        position: fixed;
        top: 0;
        left: 0;
        background-repeat: no-repeat !important;
        width: 100% !important;
        height: 100%;
        background-position: center !important;
        background-size: cover;
        opacity: 0.5;
        filter: alpha(opacity=40);
        background-image: url('../assets/imgs/calculator/Body-Fat.jpg') ;
        z-index:-1;
      }
    .scroll-content{
        padding:0px !important;
        z-index:1;
    }
    
    .item{
        background-color: transparent !important;
        border-bottom:1px solid #fff !important;
    }



    ion-label{
        margin-left: 17px !important;
        margin-top: 9px !important;  
    }
    .margin-left{
        margin-left:1%;
    }
    
    ion-item{
        margin-top: -3px !important;
    }
    .mar_col{
        margin-top: -10px;
    }
    ion-navbar{
        background-color: var(--primary-color) !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }
    
    .button{
        // margin-left: 1% !important;
        width: 100% !important;
        background-color:#f15c23 !important;
        color:white;
    }
    .toolbar-background{    
        background: #39bebc !important;
       
       
    }
    .toolbar-title{
       color: #fff8f8 !important;
    }
    ion-label{
        color:#222 !important;
    }
    // p{
    //     //font-size: 25px;
    //   text-align: center;
    //   color: #34bdbc;
    // }
    .text-input{
        margin: 13px 0px !important;
     }


    // vinod styles starts here

    .margin-bottom-5{
        margin-bottom:5px;
    }
    .col-padding-0{
       padding: 0px !important;
    }
    .padding-top-20{
        // padding:20px 0px 0px 0px;
        font-weight:300;
     }
     .header_label{
         font-weight:300;
         margin: 13px 6px 10px 0px;
     }
     .padding-left-0{
         padding-left:0px !important;
     }
     .text-input{
        margin: 13px 0px !important;
     }

     .disclaimer_header,.Cal_header{
        text-align: left;
        font-size: 15px !important; 
        // background-color:#39bebc;
        color: #39bebc;
        padding: 5px 0px;
        margin: 0px;
        text-decoration: underline;
     }
     .cal_des{
       // font-size: 12px !important; 
        text-align: left;
        color: #222;
        margin: 0px;
     }
     .disclaimer_des{
        font-size: 10px !important; 
        text-align: left;
        color: #222;
        margin:0px;
     }
     .disclaimer_wrapper{
        margin-top:30px;
     }
    // .appointment_book{
    //     font-size: 12px;
    //     text-align: left;
    //     color: #34bdbc;
    //     text-decoration: underline;
    // }
    .result{
        font-size: 25px;
        margin: 5px;
    }
    
    // .progress_smiley{
    //     position: absolute;
    //     top:50%;
    //     left: 50%;
    //     width:50%;
    //     font-size:8px;
    //     transform: translate(-50%,-50%);
    //     text-align: center;
    // }
    
     .Cal_Des{

     }
     .bodyfat_ranges{
         width:100%;
        //  margin-left:3%;
     }
}
