<ion-content>
  <ion-item class="header-background">
    <ion-row class="location-search-header">
      <ion-col col-1 (click)="closeModal()" class="close-sec">
        <ion-icon name="ios-close"></ion-icon>
      </ion-col>
      <ion-col col-11 class="header-title margin-top-bottom-5 margin-auto">
        Search any city and locality
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-row class="margin-left-right-5">
    <ion-col col-12>
      <ion-row>
        <ion-col col-1 class="padding-0" *ngIf="selectedCityAndLocation.activeCity !='' && selectedCityAndLocation.activeCity !='Choose City'">
          <img class="menu-search-img" src="assets/img/placeholder.svg" />
        </ion-col>
        <ion-col col-4 class="padding-left-right-5" *ngIf="selectedCityAndLocation.activeCity !='' && selectedCityAndLocation.activeCity !='Choose City'">
          <p text-left class="default-address show-added-info-list para-overflow-hidden para-margin-bottom-5">
            <span>{{selectedCityAndLocation.activeCity}}</span>
          </p>
        </ion-col>
        <ion-col col-7 text-right class="padding-0" *ngIf="(selectedCityAndLocation.activeCity !='' && selectedCityAndLocation.activeCity !='Choose City') && (selectedCityAndLocation.activeLocation =='' || selectedCityAndLocation.activeLocation =='Choose Locality')">
          <p class="save-location" (click)="closeModal()">DONE</p>
        </ion-col>
        <ion-col col-1 *ngIf="selectedCityAndLocation.activeLocation !='' && selectedCityAndLocation.activeLocation !='Choose Locality'">
          <p text-left class="para-margin-0">
            <ion-icon name="ios-arrow-forward-outline" class="right-arrow margin-top-2"></ion-icon>
          </p>
        </ion-col>
        <ion-col col-6 class="padding-left-right-5" *ngIf="selectedCityAndLocation.activeLocation !='' && selectedCityAndLocation.activeLocation !='Choose Locality'">
          <p text-left class="default-address show-added-info-list para-overflow-hidden para-margin-bottom-5">
            <span>{{selectedCityAndLocation.activeLocation}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-12 class="padding-left-right-5">
      <ion-row class="input-box-border-radious number-email-field contact-background">
        <ion-col col-1>
          <img class="input-box-img" src="assets/img/gps.png" (click)="getCurrentLocationFromCache()" />
        </ion-col>
        <ion-col col-10 class="input-for-email-mobile margin-left-5">
          <ion-item class="contact-number-field default-add padding-0">
            <ion-input #myinput [(ngModel)]="activeCity" class="" autocorrect="off" placeholder="Search City" (keyup)="onInputCity($event)"
              (click)="isSelectedCity = false">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-12 *ngIf="activeCityLocation.activeCityKey != 0" class="padding-left-right-5">
      <ion-row class="input-box-border-radious number-email-field contact-background">
        <ion-item class="contact-number-field default-add locality-input padding-0">
          <ion-input #myinput [(ngModel)]="activeLocation" class="padding-left-right-10" autocorrect="off" placeholder="Search Locality (Optional)"
            (keyup)="onInputLocation($event)" (click)="isSelectedCity = true">
          </ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isSelectedCity" class="margin-left-right-15">
    <ion-col class="list-item-style" col-12 *ngFor="let item of cityList" (click)="getSelectedCity(item)">
      <p class="margin-top-bottom-5">{{item.DemographyName}}</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isSelectedCity" class="margin-left-right-15">
    <ion-col col-12 class="location-header margin-top-bottom-5">Top Location In {{activeCityLocation.activeCity}}</ion-col>
    <ion-col class="list-item-style" col-12 *ngFor="let item of locationList" (click)="getSelectedLocation(item)">
      <p class="margin-top-bottom-5">{{item.CityAreaName}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="" *ngIf="cityAvailableStatus && cityList.length == 0">
    <ion-col col-12 text-center>
      <img src="assets/img/location.png" class="not-found" />
    </ion-col>
    <ion-col col-12 text-center>
      <p class="not-found-text">
        Not Available!
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="" *ngIf="locationAvailableStatus && locationList.length == 0">
    <ion-col col-12 text-center>
      <img src="assets/img/location.png" class="not-found" />
    </ion-col>
    <ion-col col-12 text-center>
      <p class="not-found-text">
        Not Available!
      </p>
    </ion-col>
  </ion-row>
</ion-content>