page-timing-selection {
    .icon{
        color:#39bebc;
    }
    .bar-button-default {
        margin: 0px 0px 0px 0px !important;
    }
    .color-white{
        color:white !important;
    }
    .back-button-icon {
            color: #ffffff !important;
        }
        .footer .toolbar .toolbar-background{
            background-color: var(--primary-color) !important;
          }
        .book-appo-footer-btn{
            width: 20px;
            margin-bottom: -5px;
        }
        .ion-md-close{
            color:white !important;
        }
        .search-header{
            background: #e8e8e8;
            padding: 10px;
            font-size: 15px;
            /* font-weight: 500; */
            margin: 3px 0px 3px 0px;
            color: #464646 !important;
            width: 100%;
           }
          .scroll-content {
            padding: 0px 0px 0px 0px !important;
        }
        .datetime {
            padding: 0px 0px 0px 0px !important;
        }

        .clock-icon{
            width: 17px;
            /* float: right; */
            margin: 0px 10px -3px 0px;
        }
        .paddingT-10{
            padding: 0px 0px 0px 10px;
        }
        .marginT-6{
            margin: 6px 0px 6px 0px;
        }
        // .datetime-text {
           
        //     display: none;
        // }

        .clock-icol-margin{
            border-bottom: 0.5px solid #d6d4d4;
    margin-bottom: 5px;
        }
        .item{
            padding-left: 0px;}
            

}
