page-choose-hospital-doctor-names {
    .search-header{
        background: #e8e8e8;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0px 3px 0px;
        color: var(--icon-color);
       }
       .padding-10{
           padding:10px !important;
       }
       .header-background{
        background-color: var(--primary-color) !important;
        // margin: -17px 0px 0px 0px;
        color:var(--white-color);
        margin-bottom: 10px;
  }
}
