page-notification{
  ion-navbar{
    background-color: var(--primary-color) !important;
  }
  .bar-button-default {
    margin: 0px !important;
    color: var(--white-color) !important;
  }
  .notification-img{
    width: 75%;
    border: 1px solid var(--primary-color);
    padding: 7px;
    border-radius: 50%;
  }
  .notification-date{
    font-style: italic;
    color: #64c5c4;
    margin-right: 10px;
  }
  .remove-circle{
    text-align: right !important;
    padding: 0px 10px 0px 0px;
    margin-top: -15px;
  }
  .icon-size{
    font-size: 25px;
    color: #b7b6b6;

  }
}