page-history{
    ion-navbar{
        background-color: var(--primary-color) !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }
    .inner-text-padding{
        padding: 15px 0px 0px 10px;
  }
}