page-healthrecordlist {
    ion-navbar{
        background-color: var(--primary-color) !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }                     
.avtar-margin
{
    margin: 8px 12px 8px 0px !important;  
}

.tab-heading-color{
    color:var( --black-light-color);
}
.footer .toolbar .toolbar-background {
    background-color: var(--primary-color) !important;
}
.footer-titel-class > .toolbar-title {
    padding: 0 0px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    font-size: 18px !important;
    text-align:center;
}
.upload-icon-w{
    width: 20px;
    margin-bottom: -2px;
   
}
.upload-date-font{
    font-size: 16px;
    color: #867e7e;
}
.upload-date1-font{
    font-size: 22px;
    color: black;
}
.display-grid{
    display:grid;
}
.date-background{
    background-color: #ecefef;
    padding: 2px ;
}
.file-icon-size{
    width: 16px;
    vertical-align: text-top;
}

.file-name-margin{
    margin: 13px 0px 3px 0px;
}

.padding-top-btm-5{
    padding: 5px 0px;
}

.popover-btntrp > .button{
    color: #000;
    background-color: rgba(215, 216, 218, 0);
    box-shadow: none;
}
.reco-for-text{
    font-size:12px;
    color:black;
    margin-left:5px;
}
.filter-icon-upload{
    float: right;
    width: 30px;
}
.vertical-align-m{
    vertical-align: middle;
}
.bar-button-default {
    margin: 0px !important;
    color: var(--white-color) !important;
}
.segment-ios .segment-button.segment-activated{
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid var(--button-color) !important;
}
.segment-ios .segment-button{
border-top: 0px !important;
border-color:   #e2e2e2;
}
.toolbar-ios {
    padding-top: 20px !important;
}
// .content-ios{
//     margin-top: -20px;
// }
}