<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Family</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="family-list">
    <ion-row class="family-record-list">
        <ion-col col-6 *ngFor="let item of documentsFor; let i=index">
            <ion-row>
                <ion-col col-1></ion-col>
                <ion-col col-10 class="dashboard_col_item_block" (click)="retriveDigitalDocuments(item)">
                        <!-- [ngStyle]="{'border':color_list[i]}" -->
                    <div class="my-family-dash-board-item border-circle-color">
                        <img class="family-list-image padding-40" *ngIf="item.RelationId == 100" src="assets/img/male.svg" />
                        <img class="family-list-image padding-40" *ngIf="item.RelationId == 101" src="assets/img/female.svg" />
                        <img class="family-list-image padding-40" *ngIf="item.RelationId == 102 || item.RelationId == 0" src="assets/img/male.svg" />
                    </div>
                    <p class="dashboard_col_item_name"> {{item.DisplayText}} </p>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
        <ion-item class="footer-sec footer-row-section default-add">
            <ion-row class="footer-row-section">
                <ion-col col-3 text-center class="padding-0 footer-image-sec" (click)="redirectToMenu('DashBoard',$event)">
                    <img class="footer-icon" src="assets/img/dashboard/home_deselected.svg" />
                    <br>
                    <p class="footer-name bar-button">HOME</p>
                </ion-col>
                <ion-col col-3 text-center class="padding-0 footer-image-sec" (click)="redirectToMenu('Emergency',$event)">
                    <img class="footer-icon" src="assets/img/dashboard/emergeny_deselected.svg" />
                    <br>
                    <p class="footer-name bar-button">EMERGENCY</p>
                </ion-col>
                <ion-col col-3 text-center class="padding-0 footer-image-sec" (click)="redirectToMenu('QuickAppointment',$event)">
                    <img class="footer-icon" src="assets/img/dashboard/quickappiontment_deselected.svg" />
                    <br>
                    <p class="footer-name bar-button">QUICK APPOINTMENT</p>
                </ion-col>
                <ion-col col-3 text-center class="padding-0 footer-image-sec" (click)="redirectToMenu('MedicalRecord',$event)">
                    <img class="footer-icon" src="assets/img/dashboard/medicalrecord_deselected.svg" />
                    <br>
                    <p class="footer-name bar-button">HISTORY</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-toolbar>
</ion-footer> -->