.select-icon {
    position: relative;
    width: 15px !important;
    height: 19px;
}

.number-email-field{
        height: 4.9rem !important;
}
.select-text{
   overflow: visible !important;
}
.popover-content{
        width: 110px !important;
            margin-top: 20px !important;
}
.input-email-mobile-sec {
    margin-left: -15px !important;
}
ion-select > .select-icon{
    width: 25px !important;
}
.mobile-icon-size{
   color:var(--icon-color);
}
.mail-icon{
    padding: 9px 0px 0px 10px !important;
}
.contact-number-field{
    margin-top: -2px;
    background-color: rgba(255, 255, 255, 0);
    height: 35px;
    padding-left: 0px;
    margin-left: -5px;
}
.login-email-size{
     margin: 7px 0px 0px 0px !important;
}


.forgot-password-text{
    text-align: right;
    color:var(--black-light-color);
    font-weight: 500;
}
.pass-section{
    margin-top: 7px !important;
    margin-left: 1px;
}
.login-password{
    padding: 0px;
    margin: 3px 0px 0px -5px !important;
}

.close-icon{
    font-size: 25px;
}
.header-background.item-block .item-inner {
    border-bottom: 0 !important;
}
.login-with-otp-btn{
    margin: 0px 10px 0px 10px;
}
.change-color{
    color:var(--button-color);
    margin-left: 10px;
}
.login-id-sec{
    color: #39bebc;
    font-weight: 500;
    font-size: 15px;
}
.login-id{
    font-weight: 500;
}
.otp-password .toolbar-background{
    background: #ffffff !important;
}
.login-with-password{
    text-transform: none !important;
    background-color: rgba(255, 255, 255, 0.5215686274509804) !important;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    box-shadow: none;
}
.login-with-password-input {
    padding: 0px;
    margin: 0px 0px 0px -5px !important;
}
