<ion-header no-border>
		<ion-navbar class="otp-password">
			<ion-buttons>
				<button ion-button menuToggle class="left-arrow-style">
					<ion-icon name="menu"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-header>
<ion-content class="back-image">
	<!-- <ion-item class="header-background">
		<ion-row class="location-search-header">
			<ion-col col-1 (click)="closeModal()" class="close-sec">
				<ion-icon name="ios-close" class="close-icon"></ion-icon>
			</ion-col>
			<ion-col col-11 class="header-title margin-top-bottom-5 margin-auto">
			</ion-col>
		</ion-row>
	</ion-item> -->
	<div class="logo">
		<img src="assets/img/logo.png" alt="health-pro logo">
	</div>
	<ion-list class="login-form-top">
		<ion-row>
			<ion-col class="para-section-style">
				<p class="para-text-color" text-center>
					Your
					<span class="default-color font-weight-400">Health</span> Our
					<span class="default-color font-weight-400">Kare</span>
				</p>
			</ion-col>
		</ion-row>
		<form #loginWithPasswordPForm="ngForm" (ngSubmit)="onLogin(loginWithPasswordPForm)" class="login-form">
			<ion-row>
				<ion-col col-12>
					<p class="login-id">Login Id:
						<span *ngIf="isLoggedInWithContact" class="login-id-sec">+{{login.Contact}}</span>
						<span *ngIf="!isLoggedInWithContact" class="login-id-sec">{{login.UserLogin}}</span>
						<span class="change-color" (click)="onChnage()">Change</span>
					</p>
				</ion-col>
			</ion-row>

			<ion-row class="login-input number-email-field">
				<ion-col col-2>
					<img class="form-image pass-section" src="assets/img/register/lock.svg" />
				</ion-col>
				<ion-col col-8 class="padding-0">
					<ion-item class="contact-number-field default-add login-with-password-input">
						<ion-input [(ngModel)]="login.Password" name="password" [type]="isActive?'text':'password'" placeholder="Password" #password="ngModel"
						 spellcheck="false" autocapitalize="off" required>
						</ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-2 class="text-aligh-right">
					<ion-icon [name]="isActive?'eye':'eye-off'" class="eye-icon-style" item-right (click)="isActive=!isActive;" isActive=true>
					</ion-icon>
				</ion-col>
			</ion-row>
			<div class="forgot-password-text">
				<p class="" (click)="resetPassword()">Forgot Password?</p>
			</div>
			<div text-center>
				<button class="login-form-btn" ion-button type="submit">Log In</button>
			</div>
		</form>
		<ion-row class="login-with-otp-btn">
			<ion-col col-12 class="" text-center>
				<p class="optional-text">
					OR
				</p>
			</ion-col>
			<ion-col col-12>
				<div text-center>
					<button class="login-form-btn login-with-password"  ion-button (click)="redirectToOTPLogin()">Login using an OTP</button>
				</div>
			</ion-col>
			<!-- 
			<ion-col col-12 class="" text-center>
				<p class="optional-text">
					Don't have an account?
					<span class="ask-login-signup-text" (click)="onSignup()"> Sign Up</span>
				</p>
			</ion-col> -->
		</ion-row>

	</ion-list>

</ion-content>