page-detailspage {
    ion-navbar {
        background-color: var(--primary-color) !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }
    .sub-menu-header-sec table {
        width: 100% !important;
    }
    .content-md {
        color: #686161;
    }
}