page-dailywater {
    .background-image{
        background-repeat: no-repeat !important;
        width: 100% !important;
        background-position: center !important;
        background-size: 100% !important;
        background: linear-gradient(to bottom, #fff 0%, #7ad0ec 100%);
      }
    .scroll-content{
        padding:0px !important;
    }
    
    .bg_image{
        width: 100%;
        height:200px;
        background-image: url('../assets/imgs/calculator/daily_watext_colter.jpg') ;
        background-repeat: no-repeat;
        background-size:100%;
    }
    // .list{
    //     margin:5px 5px 16px;
    // }
    .item{
        background-color: transparent !important;
        border-bottom:1px solid #fff !important;
    }


    .toolbar-background{    
        background: #39bebc !important;
    }
    .toolbar-title{
       color: #fff8f8 !important;
    }
    .margin-left{
        margin-left:1%;
    }
    ion-navbar{
        background-color: var(--primary-color) !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }
    ion-label{
        color:#2d2d2d !important;
        font-weight: 500
    }
    .btn{
        width:100%;
        background-color:#f15c23 !important;
        color:white;
    }
    .item-input{
        border: none !important
    }
    text-input {
        margin: 0px 0px !important;
    }
    .item{
        padding: 0px !important
    }
    p{
        font-size: 20px;
        text-align: center;
    }

ion-label{
    margin-top: -5px !important;
}

.header_label{
    font-weight:300;
}
.text-input{
    margin: 13px 0px !important;
 }
 .highlight{
    height: 8px;
    width: 8px;
    background-color: #222;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
 }

 .disclaimer_header,.Cal_header{
    text-align: left;
    font-size: 15px !important; 
    // background-color:#39bebc;
    color: #39bebc;
    padding: 5px 0px;
    margin: 0px;
    text-decoration: underline;
 }
 .disclaimer_des,.cal_des{
    font-size: 12px !important; 
    text-align: left;
    color: #222;
    margin: 0px;
 }
//  .disclaimer_wrapper{
//      position: fixed;
//      bottom: 0px;
//  }
.appointment_book{
    font-size: 12px;
    text-align: left;
    color: #34bdbc;
    text-decoration: underline;
}
.result{
    font-size: 25px;
    margin: 5px;
}


 .Cal_Des{

 }

 .input{
    background-color: rgba(83, 79, 79, 0.1803921568627451);
  }
.text-input{
    text-align:center;
    font-size:20px;
}

}
