page-appointmentconfirmationafterpg {

    .time-slot-card-background{
        margin: 10px 0px 0px 0px !important;
        border-radius: 0px !important;
        width: 100% !important;
        box-shadow: none !important;
    }
    .bar-button-default {
        margin: 0px !important;
        color: var(--white-color) !important;
    }
.profile-w-h{
    width: 70px !important;
    height: 70px!important;
    border: 2px solid white;
}
.content-ios > .scroll-content > .ios-nav-header{
    margin-top:-20px;
}
.img-size{
    // background: url(../assets/img/bookAppointment/specialities_icon.svg);
    max-width: 60px;
    background: #e4e4e4;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
    border: 2px solid #e4e4e4;
    padding: 3px;
}                
.avtar-margin
{
    margin: 8px 12px 8px 5px !important;  
}
.certificate-text-color{
    font-size: 12px;
    font-weight: 500;
}
.appo-detail-border-bottom{
    border-bottom: 10px solid #f2f2f2;
}
.doc-dtl-date-icon{
    width: 30px;
    display: inline;
    vertical-align: bottom;
    margin-left: -3px;
   
}
.appo-dtl-padding{
    padding: 0px 18px;
   
}
.doc-profile-sub-heading{
    font-size: 15px;
    color: #252525;
    font-weight: 400;
}
.medical-icon-wth{
    width: 26px;
}
.appo-dtl-sub-heading {
    font-size: 17px;
    color: #252525;
    font-weight: 400;
    vertical-align: super;
}
.wallete-w{
    width:30px;
}
.wallete-w-text{
    font-weight: 500;
    vertical-align: super;
    font-size: 16px;
}
.wallete-a-text{
  
    vertical-align: super;
    font-size: 16px;
}
.doc-fee-text{
    font-size: 20px;
    vertical-align: bottom;
    font-weight: 500;
}
.doc-id-text{
    font-size: 20px;
    vertical-align: bottom;
   
}
.rupee-icon-width{
    width:18px;
}

.certificate-icon{
    width: 32px;
}
.appo-dtl-padding{
    padding: 0px 18px;
   
}
.button-round {
    width: 100% !important;
    background-color: var( --button-color) !important;
}
.fixed-button-appo-dtl{
    bottom: 0;
    position: fixed;
    width: 100%;
}
.content-ios{
   // margin-top:-20px;
}

.item-ios{
    padding-top:10px;
}
.title-ios {
    padding-top: 0px !important;
    padding: 0px;
}
// .footer .toolbar .toolbar-background{
//     background-color:var(--button-color) !important;
// }
.booked-for-color{
    //color:var(--primary-color)
    color: #171717;
    font-weight: bold !important;
    font-size: 18px !important;
}
.booking-status{
    color: var(--button-color);
    font-size: 18px !important;
}

.booked-for-appo-color{
    color: var(--primary-color);
}
.booking-status-text{
    margin: 5px 0px 3px 0px !important;
    text-align: left;
}
}